
/* variables*/
:root{
    --colorHeader:#134074;
    --colorFooter:#0B2545;
    --coorbackground:#EEF4ED;
    --cardColor:#8DA9C4;
    --botonesColor:#133156;
    --colorlineaCar:rgb(224, 141, 47);
}
/* importacion dela fuente */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poltawski+Nowy:ital@1&family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background: var(--colorHeader);
}
body {
 background-color: var(--coorbackground);
}

 nav{
    height: 80px;
    width: 100%;
    padding: 20px 0;
    background: var(--colorHeader);
   
}
nav ul{
    float: right ;
    margin-right: 20px;

}
nav ul li{
    display:inline-block;/* ponemos en linea */
    line-height: 40px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    
}
.logo{
    width: 130px;
    height: 60px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.checkbtn{
    font-size: 40px;
    float: right;
    line-height: 50px;
    margin: 20px 0;
    display: none;
}

#check{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;/* centramos el icono*/
    margin-right: 40px;
    cursor: pointer;
    display: none;/* solo se tiene que ver endipositivos pequeños no en descktop*/
}

.link{
    color:var(--coorbackground);
    text-decoration:none;
}
.link:hover{
    background-color: var(--coorbackground);
    color:blue;
    font-size: 19px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 2.4px;
}
h1{
    text-align: center;
}
.banner img{
    width: 100%;
    height: calc(100vh - 80px);
}

.banner p{
    text-align: center;
    font-size: 3rem;
    color:var(--colorlineaCar);
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 8px rgba(0,0,0,8);
}
/*detalle producto*/
.item{
    align-items:center ;
    width: 80%;
    
}
.items {
    cursor: pointer;
    width: auto;
    height: auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid var(--botonesColor);
    padding: 10px;
    margin-left: 40px;
    margin-top: 10px;
    background: var(--cardColor);
    display: flex;
    
}


.imgcarrito {
    width: 20%;
    height: 180px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;

}

.descrip{
    width: 30%;
   text-align: left;
     padding: 30px;
}

.cantidad h2{
    margin-top: -80px;
    margin-left: 66%;
}


.precio h3{
    align-items: center;
    padding: 10px;
   
}

h2 {
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
    
}

.comprar .btncompra {
    margin-left: 47%;
    margin-top: 20px;
    background-color:var(--botonesColor);
    border: none;
    width: 160px;
    height: 40px;
    border-radius: 10px;
}

.comprar .btncompra:hover {
    transform: scale(1.2);
    color: var(--coorbackground);
}
.btnmas{
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.btnmas button {
    width: 110px;
    height: 30px;
    border-radius: 10px;
    color: var(--coorbackground);
    background: var(--botonesColor);
}
/* pie de pagina*/
.contenedor_pie{
    margin-top: 10px;
    display: flex;
    background-color: var(--colorFooter);
    width: 100%;
    height: 250px;
}
.footer{
     display: flex;   
     align-items: center;
}
.redes{
    list-style: none;
    margin-top: 200px;
    display: flex;
    gap: 0.5rem;
    margin-left: 10px;
} 
li img{  
    width: 30px;
    height: 30px;
} 
.parrafo p{
    font-size: 11px;
    text-align: center;
    color: var(--coorbackground);
}
iframe{
    width: 250px;
    height: 190px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

/* estilo responsive*/
@media (max-width: 852px){
    
     nav ul li a{
        padding-left: 20px;
    } 
}

@media (max-width: 552px){
    .checkbtn{
        display: block;
  
    }
    ul{
        position: fixed ;
        width: 100%;
        height: 100vh;
        background:var(--cardColor);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      
    }
    a{
        font-size: 20px;
       
    }
    #check:checked~ul{
        left: 0;
    }
    .banner p, .banner img{
        display: none;
    }
    .item{
        display: block;
        flex-direction: column;
     }
     .items{
        flex-direction: column;
     }
     .imgcarrito{
        width: 90%;
    
     }
     .descrip {
        text-align: center;
        width: 100%;
     }
     .precio h2, h3{
        text-align: center;
     }
     .btnmas {
        flex-direction: column;
        align-items: center;
     }
    .contenedor_pie, .footer{
        flex-direction: column;
    }
     li img{
        align-items: center;
        display: inline-block;
    }
    .footer p{

        text-align: center;
    }
    iframe{
        align-items: center;
        width: 100%;
    }
}
